name: CI

on:
  push:
    branches:
      - master

jobs:
  tests:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Export
        run: npm run export
      - name: Fix .nojekyll
        run: touch out/.nojekyll
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: out
          clean: true
          single-commit: true
