name: CI

on:
  push:
    branches:
      - master

jobs:
  tests:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Export
        run: npm run export
      - name: Fix .nojekyll
        run: touch out/.nojekyll
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.5
        with:
          branch: gh-pages
          folder: out
          clean: true
          single-commit: true
